# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives:**
* List popular languages for Data Science
* List commonly used libraries
* List commonly used Data Science tools

#### Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

| Data Science Tools |
| ------------------ |
| Jupyter notebook   |
| RStudio            |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3 * 4) + 5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200 
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
#### John Cena